@media all and (max-width: 1180px) {
    .icons {
        width: 75%;
    }
    #about p {
        width: 60%;
    }
}

@media all and (max-width: 984px) {
    .icons {
        width: 60%;
    }
    
    #main-nav ul li.main-item a {
        padding: 10px;
    }
    
    #about .photo {
        float: none;
        width: 100%;
        margin: 0;
    }
    
    #about p {
        margin: auto;
        text-align: center;
        width: 80%;
        padding: 50px;
    }
}

@media all and (max-width: 778px) {
    #mobile-menu {
        display: block;
        text-align: right;
        padding-right: 20px;
        line-height: 40px;
        color: #FFF;

    }

    .nav-right {
        display: none;
    }

    #main-nav #menu-bottom:checked + .nav-right {
        display: block;
    }
    
    figure.icon {
        margin: 0;
        margin-bottom: 20px;
    }
    
    p.click {
        display: inherit;
    }
}

@media all and (max-width: 640px) {
    #main-nav ul li.main-item a {
        padding: 2px;
    }
    
    #about p {
        padding: 50px 0px;
    }
    
    #contact .contact {
        padding: 0px;
    }
    
    #contact a {
        font-size: 20px;
    }
    
}
