@media all and (max-width: 1180px) {
    #about p {
        width: 35%;
    }
    .icons {
        width: 75%;
    }
}

@media all and (max-width: 984px) {
    #about p {
        width: 40%;
    }
    .icons {
        width: 80%;
    }
}

@media all and (max-width: 768px) {
    #mobile-menu {
        display: block;
        text-align: right;
        padding-right: 20px;
        line-height: 40px;
        color: #FFF;

    }

    .nav-right {
        display: none;
    }

    #main-nav #menu-bottom:checked + .nav-right {
        display: block;
    }
    #about .photo {
        float: none;
        width: 100%;
        margin: 0;
    }
    #about p {
        margin: auto;
        text-align: center;
        width: 80%;
        padding: 50px;
    }
}
