@media all and (max-width: 1180px) {
    .icons {
        width: 75%;
    }
    #about p {
        width: 60%;
    }
}

@media all and (max-width: 984px) {
    .icons {
        width: 60%;
    }
    #main-nav ul li.main-item a {
        padding: 10px;
    }
    #about .photo {
        float: none;
        width: 100%;
        margin: 0;
    }
    #about p {
        margin: auto;
        text-align: center;
        width: 80%;
        padding: 50px;
    }
}

@media all and (max-width: 778px) {
    #mobile-menu {
        display: block;
        text-align: right;
        padding-right: 20px;
        line-height: 40px;
        color: #FFF;

    }

    .nav-right {
        display: none;
    }

    #main-nav #menu-bottom:checked + .nav-right {
        display: block;
    }
    #main-nav.scrolled {
        background-color: #333333;
    }
    #main-nav a#href.color,
    #main-nav a#href1.color,
    #main-nav a#href2.color,
    #main-nav a#href3.color {
        color: #777777;
    }
    
    p.click {
        display: inherit;
    }
}

@media all and (max-width: 640px) {
    #head.scrolled span {
        color: #333333;
    }
    
    #about p {
        padding: 0;
        padding-top: 50px;
    }
    figure.icon {
        border: 2px solid #333333;
    }
    #contact a {
        font-size: 20px;
    }
}















